a {color:grey;
   text-decoration: none;}
p {margin: 1rem 0 1rem 0}
li {margin: .2rem 0 .2rem 0}
li p {margin: 0}
body {margin: 0; padding: 0; border: 0;
      font-family: sans-serif; ;}
.content-block-paragraph { margin: 1rem; }
.jh-root td {border: 2px solid black;
	     background-color: white;
	     font-size: 10px;}
iframe {border: 0;}
